@import "../../styles/variable";
.headerMenu {
  ul {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 36px;
    justify-content: flex-start;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}
